/* regole generali */


/* main  */

/* input  */
#form{
    padding: 10px;
    border: solid black 1px;
    margin-bottom: 10px;
    background-color: brown;
    color: white;
}
#nameId{

}

#kmId{

}

#ageId{

}

#buttonId{

}

#buttonIdCancel{

}

#ticketPrice{

}

#ticket{
    padding: 10px;
    border: solid black 1px;
    background-color: brown;
    
}

#passengerName{
    
}
.ticket-hidden{
    display: none;
}

.ticket-shown{
    display: block;
}